fastapi
uvicorn
pymongo==4.6.3
motor==3.3.2
beanie==1.25.0
python-dotenv
passlib[bcrypt]
bcrypt==3.2.2
certifi
google-generativeai
protobuf==4.25.9
grpcio-status==1.61.3
yfinance
transformers
torch
tensorflow
joblib
numpy
requests
scikit-learn
firebase-admin